@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  font-size: 18px;
}

.header nav {
  font-weight: 500;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 7.5rem;
}

.header nav ul li a:hover {
  color: #b4282e;
  font-weight: bold;
  font-size: 20px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.open-btn {
  display: none;
}

.button {
  color: white;
  background-color: #b4282e;
  border: none;
  padding: 13px 26px;
  font-size: 18px;
}

.button a {
  color: white;
  text-decoration: none;
}

.close-btn {
  display: none;
}

#section01 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 70px auto;
  padding: 0 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  line-height: 1.5;
}

.hero-section button {
  width: fit-content;
}

#section02 {
  margin: 70px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#section02 h2 {
  text-align: center;
}

#section02 p {
  line-height: 1.5;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  row-gap: 50px;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 341px;
  line-height: 1.5;
}

.members img {
  width: 100%;
  height: auto;
}

.dot {
  display: flex;
  align-items: center;
  gap: 5px;
}

#section03 h2 {
  text-align: center;
  margin-bottom: 30px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 35px;
}

.event {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 34px 27px;
  gap: 20px;
  width: 360px;
  background-color: #f5f5f5;
  line-height: 1.5;
}

.event .pfp {
  width: 100%;
  height: auto;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.purpose {
  display: flex;
  gap: 9px;
  align-items: center;
}

.calendar {
  display: flex;
  gap: 9px;
  align-items: center;
}

#section04 {
  padding: 0 10px;
  margin: 30px 0 50px 0px;
}

#section04 h2 {
  text-align: center;
}

label {
  font-weight: 600;
  font-size: 24px;
}

.input-form {
  width: 500px;
  height: 35px;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

form button {
  width: fit-content;
}

form button:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 200px;
  padding: 40px 30px;
  background-color: #b4282e;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 0 25px;
  }
  .header nav {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #b4282e;
    color: white;
    height: 100vh;
    padding: 40px;
    width: 40%;
    transition: right 0.5s ease-in-out;
  }

  .nav.open {
    right: 0%;
  }

  .header nav ul li a:hover {
    color: white;
    font-weight: 600;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
  }

  .open-btn {
    display: block;
  }

  .contact {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .close-btn {
    display: block;
    width: 30px;
    height: auto;
    margin-left: auto;
  }

  #section01 {
    flex-direction: column;
  }

  #section01 img {
    width: 100%;
    height: auto;
  }

  .team-members {
    justify-content: center;
  }

  .events {
    justify-content: center;
  }

  #section04 {
    padding: 0 40px;
  }

  .input-form {
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
